<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>{% block title %}{% endblock title %}</title>
        {% block home_head %}{% endblock home_head %}
        {% block blog_head %}{% endblock blog_head %}
        {% block product_head %}{% endblock product_head %}
        {% block info_head %}{% endblock info_head %}
        {% block user_head %}{% endblock user_head %}

	</head>

	<body>
{% block home %}{% endblock home %}
{% block blog %}{% endblock blog %}
{% block product %}{% endblock product %}
{% block info %}{% endblock info %}
{% block user %}{% endblock user %}



<div class="footer ">
						<div class="footer-hd ">
							<p>
								<a href="/">全球云科技</a>
								<b>|</b>
								<a href="/">商城首页</a>
								<b>|</b>
								<a href="# ">支付宝</a>
								<b>|</b>
								<a href="# ">物流</a>
							</p>
						</div>
						<div class="footer-bd ">
							<p>
								<a href="# ">关于全球云</a>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
								<em>© 2015-2025 World.com 版权所有. <a href="/" target="_blank" title=""></a> - Collect from <a href="/" title="" target="_blank"></a></em>
							</p>
						</div>
					</div>

{% block home_other %}{% endblock home_other %}
{% block blog_other %}{% endblock blog_other %}
{% block product_other %}{% endblock product_other %}
{% block info_other %}{% endblock info_other %}
{% block user_other %}{% endblock user_other %}

